body{
    background: blue;
    font-size: 11px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#app{
    width: 80vw;
    margin: 10px;
    border: 4px red;
    background: darkslategrey;
}
dog-img{
    width: 180px;
    height: 180px;
    filter: blur(2px);
}
button{
    margin: 4px;
    color: #fff;
    border: none;
    font-size: 10px;
    
}