body{
    background: blue;
    font-size: 11px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#app{
    width: 80vw;
    margin: 10px;
    
}