body{
    background: yellow;
    font-size: 20px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.move-heading{
    color: white;
    background-color: yellow;
    position: relative;
    animation: move-heading 3s linear infinite alternative;
}
@keyframes move-heading {
    from {left:0;}
    to {left:60vw}
}
#app{
    width: 80vw;
    margin: 10px;
    border: 4px red;
    background: darkslategrey;
}
dog-img{
    width: 180px;
    height: 180px;
    filter: blur(2px);
}
button{
    margin: 4px;
    color: #fff;
    border: none;
    font-size: 10px;
    cursor: pointer;
}
.dog-pic-div{
    display: flex;
    justify-content: center;
    align-items: center;
}